body{
	background-color: black;
}

svg{
  width: 20%;
}


@keyframes moveX {
  from { left: 0; } to { left: 90%; }
}


@keyframes moveY {
  from { top: 0; } to { top: 75%; }
}


@keyframes rotation {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(1turn);
  }
}


#blob1{
  display: block;
  position: absolute;
  -webkit-animation: moveX 5s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate, rotation 7s ease infinite;
  }


#blob2{

   display: block;
  position: absolute;
  -webkit-animation: moveY 2s linear 0s infinite alternate, moveX 4.2s linear 0s infinite alternate, rotation 7s ease infinite;
  

}


#blob3{
   display: block;
  position: absolute;
  -webkit-animation: moveY 2s linear 0s infinite alternate-reverse, moveX 3.4s linear 0s infinite alternate-reverse, rotation 7s ease infinite;
  
}

#circle1{
  display: block;
  position: absolute;
  -webkit-animation: moveX 1s linear 0s infinite alternate-reverse, moveY 5s linear 0s infinite alternate-reverse;
  opacity: .8;
}

#circle2{
  display: block;
  position: absolute;
  -webkit-animation: moveX 6s linear 0s infinite alternate, moveY .5s linear 0s infinite alternate;
  opacity: .8;
}

        .element1 {
            height: 50px;
            width: 50px;
            position: absolute;
            top: 5%;
            left: 5%;
            background-color: darkslategrey;
            -webkit-animation: stretch 2.0s ease-out alternate infinite ;
        }

        .element2 {
            height: 50px;
            width: 50px;
            position: absolute;
            top: 5%;
            right: 5%;
            background-color: darkslategrey;
            -webkit-animation: stretch 1.5s ease-out alternate infinite ;
        }
        .element3 {
            height: 50px;
            width: 50px;
            position: absolute;
            top: 90%;
            left: 5%;
            background-color: darkslategrey;
            -webkit-animation: stretch 1.5s ease-out alternate infinite ;
        }
  .element4 {
            height: 50px;
            width: 50px;
            position: absolute;
            top: 90%;
           right: 5%;
            background-color: darkslategrey;
            -webkit-animation: stretch 2.0s ease-out alternate infinite ;
        }
  
  
  
        @keyframes stretch {
            0% {
                transform: scale(.7);
                background-color: slategrey;
                border-radius: 100%;
            }
  
            50% {
                background-color: lightslategrey;
            }
  
            100% {
                transform: scale(2.2);
                background-color: lightgrey;
            }
        }
  
  



