body{
  background-color: #E5E5E5;
}

.rectangle{
  position: fixed;
width: 200px;
left: 0px;
height: 100%;
top: 0px;

background: #FFFFFF;
border: 5px solid #3A7DBA;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


a{
text-decoration: none;
color: black;
}

a:hover{
  color: #3a7dba;
}

br{
  padding: 20px;
}
.nav{
  
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
padding: 10px;

}

li{
  font-size: 18px;
line-height: 22px;
}

.pics{
  color: #3a7dba;
}


.greatpics{

margin-left: 275px;
margin-top: 50px;

font-family: Alfa Slab One;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 99px;


color: #3A7DBA;
}
.mephoto{
width: 30%;
height: 30%;
max-width: 400px;
max-height: 400px;
margin-left: 275px;
margin-top: 75px;

}


.soyouvegot{
  position: absolute;
margin-left: 750px;
margin-right: 5%;
margin-top: 75px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;


color: #000000;
}





