body {
  background-image: linear-gradient(90deg, rgba(94,114,235,1) 0%, rgba(253,192,148,1) 100%);
  text-align: center;
  font-family: Comfortaa;
}

h1{
	color: white;
	font-size: 100px;
}

#words{
	color: white;
	font-size: 150px;
	animation: breathein 4s linear forwards;
	border-radius: 10%;
	background-color: white;


}

.breathein{
	animation: breathein 4s linear forwards;
}
.breatheout {
  animation: breatheout 4s linear forwards;
}

@keyframes breatheout {
  from {
    transform: scale(1);
     color: #0b0742;
  }

  to {
    transform: scale(.5);
    color: skyblue;
  }
}

@keyframes breathein {
  from {
   transform: scale(.5);
    color: skyblue;
  }

  to {
    
    transform: scale(1);
    color: #0b0742;
  }
}