body {
  background-color:  #19205b;
  font-family: hammersmith one;
}

#my_dataviz{
	color: #19205b;
	font-size: 20px;
	display: flex;
	justify-content: center;
}

.tooltip{
	position: absolute;
	top: 20px;
	left: 10px;
	width: 200px;
}
h1{
	color: #ffffff;
	font-size: 50px;
}
.node:hover{
  stroke-width: 7px !important;
  opacity: 1 !important;
}

image{
	width: 30px;
	height: 30px;
}
button{ 
  background-color: white;
  color: #19205b;
  border-radius: 50px;
  max-width: 150px;
  text-align: center;
   font-size: 20px;
 padding: 10px;
  transition: background-color 400ms ease;
  font-family: hammersmith one;
  border-style: none;
  margin-right: 20px;
  margin-left: 10px;
} 

button:hover{
	cursor: pointer;
}


/*
body {
  background-color:  #19205b;
  margin: 0;
  padding: 20px;
    font-family: hammersmith one;
}

h1{
	color: #ffffff;
	font-size: 50px;
}

.info {
  max-width: 60%;
  margin: auto;

}

.rating {
  font-size: 10px;
  font-family: arial;
  border-radius: 60%;
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;

}

p{
	  font-size: 10px;
	  opacity: 0;
	  background-color: #ffffff;
}

p:hover{
	  font-size: 10px;
	  opacity: 1;
}

.rating1 {
    background-color: red;
    top: 250px;
    left: 500px;
}

.rating2 {
  background-color: green;
    top: 300px;
    left: 400px;
}

.rating3 {
  background-color: purple;
}

.rating4 {
  background-color: yellow;
}

.rating5 {
  background-color: blue;
}

.rating6 {
  background-color: orange;
}
*/