body {
  background: -webkit-linear-gradient(270deg, rgba(25,32,91,1) 23%, rgba(66,81,203,1) 100%);0%);
  font-family: hammersmith one;
  background-color: #19205b;
}

#my_dataviz{
	color: #19205b;
	font-size: 20px;
  display: flex;
  justify-content: center;
}

.tooltip{
	position: absolute;
	top: 20px;
	left: 10px;
	width: 200px;
}
h1{
	color: #ffffff;
	font-size: 50px;
  text-align: center;
}
.node:hover{
  stroke-width: 7px !important;
  opacity: 1 !important;
  cursor: pointer;
}

#buttons{
 display: flex;
  flex-direction: row;
  justify-content: center;
}
button{ 
  background-color: white;
  color: #19205b;
  border-radius: 50px;
  max-width: 250px;
  text-align: center;
   font-size: 20px;
 padding: 15px;
  font-family: hammersmith one;
  border-style: none;
  margin-right: 20px;
  margin-left: 10px;

} 

button:hover{
	cursor: pointer;
}

