body {
 
}


ul {
  background-color: saddlebrown;
  position: sticky;
   display: flex;
  flex-direction: row;
  padding: 20px;
  list-style-type: none;
  margin-left: 5%;
  font-family: roboto slab;
}

li {
 
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: sticky;
}


li a:hover {
  background-color: #111;
}
 

p{
  font-family: manrope;
  margin-right: 10%;
  margin-left: 5%;}

h1{
  font-family: Roboto Slab;
  font-weight: 700px;
  font-size: 50px;
  text-align: center;
  color: chocolate;
}

h2{
  font-family: Roboto Slab;
  font-size: 30px;
}

h3{
  font-family: Roboto Slab;
}

h4{
  font-family: Roboto Slab;
}


.countrylist{

 -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;

}
